html {
    font-family:'Montserrat', sans-serif;
}
h3 {
    width: 50%;
    position: relative;
    left: 25%;
    top: 40px;
    text-align: center;
}
h2 {
    width: 60%;
    height: 100px;
    position: relative;
    top: 50px;
    left: 20%;
    text-align: center;
}
h1 {
    position: relative;
    top: 50px;
    text-align: center;
}
input {
    position: relative;
    top: 100px;
    left: 40%;
    width: 20%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-width: thick;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    font-size: 125%;
}
input.quiz {
    left: 28%;
    margin: 20px;
}
input:hover {
    background-color: rgb(80, 80, 80);
    border-color: rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
